.form-body{
    padding:1.563rem 1.75rem 1.438rem;

    .form-row{
        column-gap: 1.25rem;
        margin-bottom: 0.938rem ;
        flex-direction: column;
        row-gap: 1.25rem;

        @include mq($tablet) {
            flex-direction: row;
        }

        .form-field{
            row-gap: 0.75rem;
            width:100%;
        }
    }

    input, select, textarea{
        height:2.875rem;
        border-radius: 0.313rem;
        border: 0.063rem solid rgba(0,0,0,0.2);
        padding:0.938rem ;
        font-family: var(--primary-font);
        width:100%;
        font-size: 0.875rem;
        line-height: 1rem;
        color:var(--black-color);
        
        &::placeholder{
            color: rgb(2, 17, 58, 0.6);
        }

        &:focus{
            outline: none;
        }
    }
    label{
        font-family: var(--primary-font);
        font-size: 0.875rem;
        line-height: 1.313rem;
    }
    textarea{
        resize: none;
        height: 8.375rem;

        @include mq($tablet) {
            height:6rem;
        }
    }
    .select-box{
        position: relative;

        select{
            cursor: pointer;
            appearance: none;
            color:rgba(0, 32, 115, 0.5);
            background-color: var(--white-color);
        }

        a{
            position: absolute;
            top: 66%;
            right:0.75rem;
            pointer-events: none;
            
            @include mq(400px) {
                top: 58%;
            }
        }
    }

    .file-input {
        margin-bottom: 2.5rem;

        .upload-image{
            padding: 0rem 0.938rem ;
            min-height:3.125rem;
            border-radius: 0.313rem;
            border: 0.125rem dashed rgba(3, 167, 248, 0.15);
            background: linear-gradient(90deg, rgb(3, 167, 248, 0.05) -1.57%, rgb(3, 167, 248, 0.05) 165.35%);
            color:var(--file-text-color);
            position: relative;

            .wrapper{
                width: 100%;
                align-items: center;

                span{
                    font-size: 0.875rem;
                    line-height: 1rem;
                    padding-right: 0.625rem;
                }
            }

            input {
                position: absolute;
                opacity: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
}
